* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
#box-one {
  /* background-color: bisque; */
  margin-top: 20px;
}
.nav-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #7784a3;
  margin-bottom: 90px;
  margin-left: 20px;
  gap: 5px;
  /* width: 00px; */
  /* height: 00px; */
}
.nav-1 p {
  color: white;
}
.hiden {
  display: none;
}
nav .beda {
  /* margin-left: 30px; */
  margin-right: 200px;
  color: #ff9c01;
}
.wrap-img-pp img {
  width: 100%;
}
.wrap-img-pp {
  margin: 70px 130px;
}
.first {
  font-size: xx-large;
  font-weight: bolder;
}
.two {
  font-size: x-large;
}
.tree {
  font-size: small;
}
.text {
  text-align: center;
  color: #ff9c01;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.button {
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column-reverse; */
  text-align: center;
  /* margin-bottom: 30px;  */
  /* margin-left: 120px; */
  padding: 16px;
  width: max-content;
  border-radius: 30px;
  background-color: #ff9c01;
  /* position: relative; */
}
.circle-icon {
  background-color: aqua;
  padding: 22px;
  border-radius: 32px;
  /* position: absolute;
    top: 0;
    right: 0; */
}

@media (min-width: 391px) {
  .beda {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    /* margin-right:60px; */
  }

  .wrap-img-pp img {
    width: 200px;
  }
  .hiden {
    display: flex;
    gap: 100px;
  }
  .nav-1 {
    display: flex;
    gap: 100px;
    padding-bottom: 20px;
    /* padding-right: 100px; */
  }
  .nav-1 p {
    margin-left: 10px;
  }
  /* .nav-1 h2 { */
  /* margin-right: 600px; */
  /* } */
  .parent {
    margin-top: 100px;
  }
  .text {
    /* display: flex; */
    /* margin-top: 90px; */
    text-align: center;
    /* background-color: red; */
    /* padding-top: 100px; */
  }
  .parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tree {
    color: black;
  }
  .btn-tn .button {
    border: 5px solid #ff9c01;
    border-radius: 7px;
    margin-bottom: 70px;
  }
}

.about-section {
  width: 90%;
  margin: auto;
  padding-top: 40px;
}

.title span {
  color: #1e90ff;
}
.title {
  font-size: 40px;
  font-weight: bold;
}

.subtitle {
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 1px;
}

.personal-info {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.personal-info p {
  margin: 5px 0;
  font-size: 15px;
}

.stats-boxes {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 30px;
}

.box {
  border: 2px solid orange;
  padding: 25px 40px;
  width: 150px;
  text-align: center;
}

.box h3 {
  color: orange;
  font-size: 40px;
  margin: 0;
}

.box p {
  font-size: 13px;
  margin-top: 5px;
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: red; */
}
.skills h3 {
  margin-top: 90px;
  /* background-color: red; */
  /* display: flex; */
  /* padding-top: 400000px; */
  font-size: x-large;
  text-align: center;
}

.skill-list {
  display: flex;
  flex-direction: row;

  /* align-items: center; */
  /* text-align: center; */
  background-color: r ed;
  /* justify-content: center; */
  gap: 30px;
  /* flex-wrap: wrap; */
  /* margin-top: 5px; */
}

.portfolio-section {
  margin-top: 70px;
  padding-bottom: 50px;
}

.portfolio-title {
  font-size: 35px;
  font-weight: bold;
}

.portfolio-title span {
  color: orange;
}

.portfolio-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.portfolio-card {
  width: 330px;
  text-align: center;
}

.portfolio-card img {
  width: 100%;
  border-radius: 10px;
}

.view-btn {
  display: block;
  margin-top: 15px;
  background: #f0f0f0;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #222;
  font-size: 15px;
  border: 1px solid #ddd;
}

.view-btn:hover {
  background: #ddd;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.section {
  padding: 60px 0;
}

.section-title {
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 20px; */
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #000;
}

.section-title span {
  color: #ff9c01;
}

.section-subtitle {
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
}
.personal-left {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: space-between;
}
.personal-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  flex-wrap: wrap;
}

.personal-wrapper ul {
  list-style: none;
}

.personal-wrapper li {
  margin-bottom: 10px;
  font-size: 16px;
}

.personal-wrapper strong {
  color: #000;
}
.stat-box h2 {
  color: #ff9c01;
  font-size: 40px;
  font-weight: 400;
}

.stat-box {
  border-right: none;
  border: 1px solid #ff9c01;
  /* width: 150px; */
  padding: 30px;
  box-sizing: border-box;
}
.txt-awl {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.stats {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  /* gap: 0px; */
  /* background-color: red; */
  margin-top: 50px;
}
.dekstop {
  display: none;
}

#box-tree {
  padding: 0px 0px 40px 5px;
  display: flex;
  padding-left: 20px;
  background-image: url(./Rectangle\ 40.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.mobile-two {
  /* width: 200vh; */
  /* height: 200px; */
  /* background-size: cover; */
}
.mobile-two i {
  color: #ff9c01;
}
.mobile-two h4 {
  color: white;
  margin-bottom: 10px;
}
.mobile-two p {
  color: white;
}
/* Default */
.newsletter-wrapper {
  width: 100%;
  max-width: 900px;
  display: flex;
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.newsletter-wrapper input {
  flex: 1;
  border: none;
  padding: 22px 28px;
  font-size: 24px;
  outline: none;
  color: #333;
}

.newsletter-wrapper input::placeholder {
  color: #3c7ccf;
}

.newsletter-wrapper button {
  border: none;
  background: #ffa000;
  padding: 0 55px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.newsletter-wrapper {
  width: 100%;
  margin-top: 20px;
}
.newsletter-wrapper input {
  padding: 10px 10px;
  font-size: 18px;
}

.newsletter-wrapper button {
  padding: 0 30px;
  font-size: 18px;
}

#box-four {
  display: flex;
  flex-direction: row;

  /* background-color: red; */
}

.mobile-tree {
  background-color: #001f3f;
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* padding-left: 1px; */
  padding-left: 40px;
 
}
.mobile-tree h4 {
  color: white;
}

.last-mobile h2{
  padding-top: 50px;
}
.last-mobile{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.-last{
  display: flex;
  gap: 20px;
}

.last-1{
  display: flex;
  gap: 20px;
}
.last-1 i {
  color: #ff9c01;
}

.last-mobile h2 {
  color: #ff9c01
}
.mobile-tree p {
  color: #ffffff;
}
.akhir {
 display: flex;
 flex-direction: row;
 gap: 40px;

}
.btn-msg button{
  color: white;
  background-color: #ff9C01;
  padding: 8px;
  border-radius: 10px;
}

.ikon i{
  /* height: 00px; */
  /* margin-right: 30px; */
  color: #ff9C01;
  /* width: 500px; */

}


.card img{
  width: 80%;
}
.card{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 391px) {
  .section-subtitle {
    margin-right: 700px;
    font-weight: bold;
    font-size: x-large;
    /* background-color: red; */
  }
  .personal-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .mobile {
    display: none;
  }

  .stats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 250px;
    gap: 20px;
  }

  .section-title {
    font-size: 32px;
  }
  .skill-list span {
    /* background-color: red; */
    text-align: center;
  }
  .skills {
    display: flex;
    /* flex-direction: row; */
    text-align: center;

    /* padding-top: 50px; */
    /* background-color: red; */
  }

  .dekstop {
    gap: 100px;
    display: flex;
    /* text-align: center; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #001f3f;
    border-radius: 90px 0 90px 0;
    /* width: 200vh; */
    margin-left: 50px;
    margin-right: 50px;
    height: 200vh;
  }
  .teks-awl {
    margin-top: 100px;
    color: white;
    font-size: x-large;
  }
  .teks-awl span {
    color: #ff9c01;
  }

  .teks-hirs {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  .one {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
  }

  .images img {
    width: 100%;
  }
  .images {
    display: flex;
    gap: 100px;
  }

  .one h1 {
    color: #ff9c01;
    font-weight: 350;
  }

  .one h3 {
    color: white;
    margin-top: 5px;
  }
  .one p {
    margin-top: 30px;
    color: white;
    font-size: small;
  }
  #box-tree {
    display: none;
  }
}
